// Some personal resets
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Responsive Images */

embed,
iframe,
img,
object,
video {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

/* Removes all decimals and discs from lists */

ol,
ul {
  list-style: none;
}

/* 
 * Completely resets form items
 * ----------------------------
 * Super hard reset that removes all borders
 * and radiuses of all form items (including
 * checkboxes and radios)
 */



input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}

body {
    color: white;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345,  #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .calc {
    margin-top: 50px;
    text-align: right;
    line-height: 100px;
  }
  
  .display {
    margin: 0 auto;
    background: black;
    width: 400px;
    height: 100px;
    font-size: 55px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
  }
  
  .dsptext {
    margin-right: 30px;
  }
  
  .keys {
    margin: 0 auto;
    width: 400px;
    height: 600px;
  }
  
  button {
    width: 100px;
    height: 60px;
    float: right;
    border: 1px solid #7B7A7A;
    font-size: 25px;
    position: relative;
  }
  
  #equal {
    height: 240px;
    background-color: #FE650C;
  }
  
  .btn-color {
    background-color: white;
  }
  
  #btn-rnd-left {
    border-bottom-left-radius: 20px 20px;
  }
  
  .btn-rnd-right {
      border-bottom-right-radius: 20px 20px;
  }

.keys > *:active::before,
.keys > .is-depressed::before {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
  
  